<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bottom</title>
    <meta name="keywords" content="DBMS" />
    <meta name="description" content="DBMS" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/ace.min.css" />
    <link rel="stylesheet" href="../static/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="../static/css/ace-skins.min.css" />
    <script src="../static/js/ace-extra.min.js"></script>
</head>
<body>
      <div class="navbar navbar-default" id="navbar">
   <script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>
   <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
    <span></span>
    </div>
   </div>
  </div>
</body>
</html>