<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Title
        </title>
    </head>

    <body>
        <script src="../../static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript">window.jQuery || document.write("<script src='../../static/js/jquery-2.0.3.min.js'>" + "<" + "/script>");</script>
        <script type="text/javascript">if ("ontouchend" in document) document.write("<script src='../../static/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");</script>
        <script src="../../static/js/bootstrap.min.js">
        </script>
        <script src="../../static/js/jquery-ui-1.10.3.custom.min.js">
        </script>
        <script src="../../static/js/jquery.ui.touch-punch.min.js">
        </script>
        <script src="../../static/js/chosen.jquery.min.js">
        </script>
        <script src="../../static/js/fuelux/fuelux.spinner.min.js">
        </script>
        <script src="../../static/js/date-time/bootstrap-datepicker.min.js">
        </script>
        <script src="../../static/js/date-time/bootstrap-timepicker.min.js">
        </script>
        <script src="../../static/js/date-time/moment.min.js">
        </script>
        <script src="../../static/js/date-time/daterangepicker.min.js">
        </script>
        <script src="../../static/js/bootstrap-colorpicker.min.js">
        </script>
        <script src="../../static/js/jquery.knob.min.js">
        </script>
        <script src="../../static/js/jquery.autosize.min.js">
        </script>
        <script src="../../static/js/jquery.inputlimiter.1.3.1.min.js">
        </script>
        <script src="../../static/js/jquery.maskedinput.min.js">
        </script>
        <script src="../../static/js/bootstrap-tag.min.js">
        </script>
        <script type="text/javascript">
            window.jQuery || document.write("<script src='../../static/js/jquery-2.0.3.min.js'>" + "<" + "script>");
        </script>
        <script type="text/javascript">
            if ("ontouchend" in document) document.write("<script src='../../static/js/jquery.mobile.custom.min.js'>" + "<" + "script>");
        </script>
        <script src="../../static/js/jquery-ui-1.10.3.custom.min.js">
        </script>
        <script src="../../static/js/jquery.ui.touch-punch.min.js">
        </script>
        <script src="../../static/js/jquery.slimscroll.min.js">
        </script>
        <script src="../../static/js/jquery.easy-pie-chart.min.js">
        </script>
        <script src="../../static/js/jquery.sparkline.min.js">
        </script>
        <script src="../../static/js/flot/jquery.flot.min.js">
        </script>
        <script src="../../static/js/flot/jquery.flot.pie.min.js">
        </script>
        <script src="../../static/js/flot/jquery.flot.resize.min.js">
        </script>
        <script src="../../static/js/ace-elements.min.js">
        </script>
		<script src="../../static/js/typeahead-bs2.min.js"></script>
		<script src="../../static/js/jquery.dataTables.min.js"></script>
		<script src="../../static/js/jquery.dataTables.bootstrap.js"></script>
		<script src="../../static/js/ace.min.js"></script>
    </body>

</html>